.background-main1 {
     background-color: #558C89;
}
.background-main2 {
    background-color: #74AFAD;
}
.background-main3 {
    background-color: #D9853B;
}
.background-main4 {
    background-color: #ECECEA;
}
.text-main1 {
    color: #558C89;
}
.text-main2 {
    color: #74AFAD;
}
.text-main3 {
    color: #D9853B;
}
.text-main4 {
    color: #ECECEA;
}
.text-main5 {
    color: #999999;
}
.text-main6 {
    color: #d4d4d4;
}

.productTitleText {
    text-decoration: none;
    color: #999999;
    text-shadow: none;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    outline: 0 none;
}
.productTitleTextAnimate {
    color: #558C89;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.productTitleTextAnimate2 {
    color: #999999;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.productTitlePrefixText {
    text-decoration: none;
    color: #999999;
    text-shadow: none;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    outline: 0 none;
}

.productTitlePrefixTextAnimate {
    color: #D9853B;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.productSubtitle {
    -webkit-opacity: 0.25;
    -moz-opacity: 0.25;
    opacity: 0;
    color: #d4d4d4;
}
.productSubtitleAnimate {
    color: #d4d4d4;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

.main-image {
    max-width: 500px;
}
#login-buttons .login-button, .accounts-dialog .login-button{
    background-color: #558C89;
    text-transform: uppercase;
    border-style:none;
}

#login-buttons:hover .login-button:hover, .accounts-dialog:hover .login-button:hover {
    background-color: teal;
    text-transform: uppercase;
    border-style:none;
}

.profileImg {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 15px;
    -webkit-filter: opacity(50%); /*sepia, hue-rotate, invert....*/

}

.item
{ cursor: pointer }

.item.selected
{ background-color: grey}

.widget
{ position: relative }

.popover
{ background-color: white;
  position: absolute;
  left: 0;
  border: 2px solid grey
}

.searchDropdown {
    position:absolute;
    z-index: 9999999;
    font-size: 14px;
    margin: 3px;
    overflow-y: scroll;
}

/*
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('img/wallpaper.jpg');
}*/

main {
    flex: 1 0 auto;
}

.delete {
    float: right;
}

li.checked {
    color: #888;
}

li.checked label {
    text-decoration: line-through;
}

.clear-block {
    clear: both;
    display: block;
    visibility: hidden;
}

.loginHeader {
    padding-right: 10px;
}

.parallax{
    position:static!important;
}

.parallax-container {
    height: 500px;
}

.welcome {
    margin-top: 50px;
}

.centeredCard {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centeredItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphContainer {
    position:relative;
    overflow:hidden;
    width:621px;
    height:441px;
    cursor:default;
}

.graphEditorRoot {
    width:1000px;
    border: 1px solid #505559;
}

.enpsIcon {
    max-width: 100%;
    height: auto;
    padding: 3px;
    background-color: white;
}
.enpsIcon:hover {
    max-width: 100%;
    height: auto;
    padding: 3px;
    background-color: teal;
}

.enpsIcon-selected {
    max-width: 100%;
    height: auto;
    padding: 3px;
    background-color: teal;
}

.itemEditingIcons {
    font-size: 17px;
    cursor: hand;
}

/* ***************************************************************************** */

#org-chart {
    margin: 10px 0;
    width: 800px;
    position: relative;
}
#chart-legend {
    float: right;
    position: relative;
    display: inline-block;
    padding: 6px 4px 6px 6px;
    width: 115px;
    margin: 2px 0px 0px -135px;
    background-color: #fff;
    border: 1px solid #eee;
    z-index: 100;
}
#chart-legend ul {
    list-style-type: square;
}
.key-label {
    font-size: 13px;
    display: inline-block;
    cursor: default;
}
.key-color {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #fff;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.key-color.filled {
    background: #74AFAD;
    border-color: #74AFAD;
}
.key-color.unfilled {
    border-color: #999;
}
.key-color.core-role {
    background: #6EBBCE;
    border-color: #6EBBCE;
}
.key-color.alert {
    background: #DB2929;
    border-color: #DB2929;
}

.chartContainer {
    display: inline-block;
    font: 300 36px "Helvetica Neue";
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
    float:left;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
}

#js-role-details {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 530px;
    width: 530px;
    top: 132px;
    left: 132px;
    position: absolute;
    z-index: 100;
    display: none;
    padding-right: 10px;
}

#js-chart-container > svg {
    position:relative;
    z-index: 50;
}
text {
    font-size: 12px;
    pointer-events: none;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a text.label, a text.role.unfilled, a.role.unfilled, .role-details.unfilled a {
    fill: #3F9BB2;
    color: #3F9BB2;
}
a text.label:hover, a text.role.unfilled:hover, a.role.unfilled:hover, .role-details.unfilled a:hover {
    fill: #6EBBCE;
    color: #6EBBCE;
    cursor: pointer;
}

a.role.core-role.filled, a.role.filled, a.role.alert,
a text.role.core-role.filled, a text.role.filled, a text.role.alert,
.role-details.filled a, .role-details.alert a, .role-details.core-role.filled a {
    fill: #eee;
    color: #eee;
}
a.role.core-role.filled:hover, a.role.filled:hover, a.role.alert:hover,
a text.role.structural.filled:hover, a text.role.filled:hover, a text.role.alert:hover,
.role-details.filled a:hover, .role-details.alert a:hover, .role-details.core-role.filled a:hover {
    fill: #fff;
    color: #fff;
}

circle {
    fill: #ccc;
    stroke: #999;
    stroke-width: 2;
    pointer-events: all;
}

circle.role.core-role {
    fill: #6EBBCE;
}

circle.role.unfilled, circle.role.structural.unfilled {
    fill: white;
}

circle.role.alert {
    fill: #DB2929 !important;
}

circle.role {
    fill: #81c4c2;
    stroke-width: 1.5;
}

circle.parent.container, circle.child.label {
    fill: transparent;
    fill-opacity: 0;
    stroke: transparent;
}

text.child.label {
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}

circle.parent {
    fill: #FFF;
    stroke: #D2D2D2;
}

circle.parent:hover, circle.role:hover {
    stroke: #FFA500;
}
circle.container, circle.label {
    pointer-events: none;
}

.foreign-object {
    pointer-events: none;
}

.foreign-object body, .foreign-object .card {
    pointer-events: inherit;
}

.d3label {
    width: 100%;
    height: 100%;
}
.d3label .title {
    text-align: center;
    font-size: 15px;
    margin: 0 0 6px 0;
    vertical-align: middle;
}
.label .title a {
    background-color: rgba(255, 255, 255, 0.5);
    text-overflow: ellipsis;
    pointer-events: all;
}
.d3label .aim {
    text-align: left;
    font-size: 16px;
}
.d3label .aim a {
    pointer-events: all;
}

.tipsy-arrow, .role-details .add-policy, .role-details .policy-num {
    display: none;
}
.role-details .role-title {
    font-size: 32px;
    text-align: center;
    margin: 0 0 0 9px;
    letter-spacing: -.5px;
}

.role-details .role-body {
    position: absolute;
    width: 100%;
    overflow-y: auto;
}
.role-details .first h1:first-of-type {
    margin-top: 0;
}
.role-details .role-icons {
    float: right;
    text-align: center;
    margin: 4px 7px;
}
.role-details .filled-by {
    text-align: center;
}
.role-details .filled-by a {
    display: block;
}
.role-details .filled-by a .gravatar-icon{
    padding: 0;
    margin: 0 0 4px 0;
    width: 64px;
    height: 64px;
}
.role-details .role-notes a {
    font-size: 27px;
}
.role-details .role-notes {
    text-align: center;
}
.scrollable:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.scroll-content-item {
    padding-right: 0;
}

.role-details .scroll-bar-wrap .ui-slider-handle {
    background: #ccc !important;
    border: 1px solid #ccc;
}

.role-details .scrollable:hover .ui-slider-handle {
    background: #d3d3d3 !important;
    border: 1px solid #d3d3d3;
}

.role-details .scroll-bar-wrap {
    background-color: rgba(255, 255, 255, 0.2) !important;
}