.background-main1 {
     background-color: #558C89;
}
.background-main2 {
    background-color: #74AFAD;
}
.background-main3 {
    background-color: #D9853B;
}
.background-main4 {
    background-color: #ECECEA;
}
.text-main1 {
    color: #558C89;
}
.text-main2 {
    color: #74AFAD;
}
.text-main3 {
    color: #D9853B;
}
.text-main4 {
    color: #ECECEA;
}
.main-image {
    max-width: 500px;
}
#login-buttons .login-button, .accounts-dialog .login-button{
    background-color: #558C89;
    text-transform: uppercase;
    border-style:none;
}

#login-buttons:hover .login-button:hover, .accounts-dialog:hover .login-button:hover {
    background-color: teal;
    text-transform: uppercase;
    border-style:none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('img/wallpaper.jpg');
}

main {
    flex: 1 0 auto;
}

.delete {
    float: right;
}

li.checked {
    color: #888;
}

li.checked label {
    text-decoration: line-through;
}


.loginHeader {
    padding-right: 10px;
}

.parallax{
    position:static!important;
}

.parallax-container {
    height: 500px;
}

.welcome {
    margin-top: 50px;
}

.centeredCard {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centeredItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphContainer {
    position:relative;
    overflow:hidden;
    width:621px;
    height:441px;
    cursor:default;
}

.graphEditorRoot {
    width:1000px;
    border: 1px solid #505559;
}

.enpsIcon {
    max-width: 100%;
    height: auto;
    padding: 3px;
    background-color: white;
}
.enpsIcon:hover {
    max-width: 100%;
    height: auto;
    padding: 3px;
    background-color: teal;
}

.enpsIcon-selected {
    max-width: 100%;
    height: auto;
    padding: 3px;
    background-color: teal;
}

.itemEditingIcons {
    font-size: 17px;
    cursor: hand;
}