.delete {
    float: right;
}

li.checked {
    color: #888;
}

li.checked label {
    text-decoration: line-through;
}


.loginHeader {
    /*
    width: 100%;
    text-align: right;
    background-color: #eee;
    border-bottom: 3px solid #505559;
    */
    padding-right: 10px;
}

.parallax{
    position:static!important;
}

.parallax-container {
    height: 500px;
}

.welcome {
    margin-top: 50px;
}

.centeredCard {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphContainer {
    position:relative;
    overflow:hidden;
    width:621px;
    height:441px;
    cursor:default;
}

.graphEditorRoot {
    width:1000px;
    border: 1px solid #505559;
}

.enpsIcon {
    padding: 3px;
    background-color: white;
    max-width:100%;
}
.enpsIcon:hover {
    background-color: teal;
}

.enpsIcon-selected {
    padding: 3px;
    background-color: teal;
}
